
.topcoment {
    background-color: rgb(24, 26, 145);
    color: rgb(255, 255, 255);
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    padding: 15px;
}
/* logo encabezado */
.logo {
    text-align: center;
    padding-top: 16px;
    padding-bottom: 16px;
}
/* formulario */
.formulario {
    background-color: rgb(185, 185, 185);
    text-align: justify;
    padding-left: 250px;
    padding-top: 40px;
    font-family: 'Roboto', sans-serif;
}