/* comentario en el encabezado */
.topcoment {
  background-color: #181a91;
  color: white;
  margin: auto;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  padding: 15px; }

/* logo encabezado */
.logo {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
  /* animacion logo */ }
  .logo:hover {
    animation-name: rotar;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out; }

@keyframes rotation {
  0% {
    transform: translateY(-500px); }
  50% {
    transform: translateY(0); }
  100% {
    transform: translateY(-500px); } }

@keyframes rotar {
  0% {
    transform: rotate(0); }
  50% {
    transform: rotate(80deg); }
  100% {
    transform: rotate(360deg); } }

/* PROMOCIONES */
.promociones {
  text-align: center;
  padding-top: 20px;
  margin: 30px;
  /* flexbox promociones */
  display: flex;
  justify-content: space-around; }

@media only screen and (max-width: 1200px) {
  .promociones {
    flex-direction: column;
    width: auto;
    margin: 10px;
    border: 10px; } }

/* fotos productos */
.publi-productos {
  text-align: center;
  padding-top: 40px;
  margin: 50px;
  /* flexbox promociones */
  display: flex;
  justify-content: space-around; }

@media (max-width: 1000px) {
  .publi-productos {
    flex-direction: column; } }

/* footer */
footer {
  margin-top: 50px; }

.tycfooter, .tycfooter-deco {
  text-decoration: none;
  color: black;
  font-size: 20px; }

.tycfooter-deco {
  background-color: #eceaea; }

/* logos redes pie de pagina */
.logosredes {
  padding: 5px; }

.logored1 {
  width: 50px;
  height: 50px; }

.contenedor {
  border: solid 1px black;
  background-color: rgba(188, 185, 185, 0.616);
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: 30px;
  margin-right: 30px; }

.productos-color {
  background-color: #ffffff; }

.linkprod {
  text-decoration: none;
  margin-left: 5px;
  text-align: center; }

@media (max-width: 450px) {
  .mercadopagologo {
    width: -webkit-fill-available; } }

/* texto en pagina quienes somos */
.texto-somos {
  margin-left: 10px;
  padding: 10px; }

.texto-somos-parrafo {
  text-align: justify; }

.titulotyc {
  text-align: center;
  padding: 20px;
  margin-top: 20px;
  font-family: 'Times New Roman', Times, serif; }

.subtitulotyc {
  padding: 20px;
  text-align: center; }

.tycparrafo {
  text-align: justify;
  padding: 20px;
  border-left: 20px;
  border-right: 20px; }

/* formulario */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #f1f1f1;
  font-family: Arial, Helvetica, sans-serif; }

section {
  align-items: center;
  justify-content: center; }

.form-contact {
  background-color: #fff;
  width: 400px;
  display: inline;
  box-sizing: 7px 13px 37px; }

.contact {
  padding: .8rem;
  overflow: hidden;
  color: gray; }

.contact label, .contact input, .contact textarea {
  display: block;
  width: 100%;
  margin-bottom: 8px; }

.contact label {
  font-weight: 700; }

.contact input:not([type='submit']), .contact textarea {
  border: none;
  border-bottom: 2px solid #ff165d;
  margin-bottom: 10px;
  font-size: 20px;
  outline: none;
  color: gray; }

.contact textarea {
  min-height: 100px; }

input[type='submit'] {
  padding: 10px;
  border: none;
  background-color: #ff165d;
  color: white;
  font-size: 20px;
  cursor: pointer; }

@media (max-width: 750px) {
  .formulario {
    padding-left: 20px; } }

/* texto pagina formulario */
.text-form {
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 30px; }
