.titulotyc {
    text-align: center;
    padding: $pix*2;
    margin-top: $pix*2;
    font-family: 'Times New Roman', Times, serif;
  }
  
  .subtitulotyc {
    padding: $pix*2;
    text-align: center;
  }
  
  .tycparrafo {
    text-align: justify;
    padding: $pix*2;
    border-left: $pix*2;
    border-right: $pix*2;
  }